<footer>
  <p><%= current_year %> | Andrii | <%= github_url('Gankster', 'TestGuru') %></p>
  <p>Project where you can pass the tests</p>
  <p><%= link_to 'Educational project in online-school Thinknetica', 'http://thinknetica.com/', target: :_blank %></p>
</footer>