<footer>
  <p><%= current_year %> | Andrii | <%= github_url('Gankster', 'TestGuru') %></p>
  <p><%= t('.info') %></p>
  <p><%= link_to t('.school_info'), 'http://thinknetica.com/', target: :_blank %></p>
</footer>